.input {
    height: 120px;
    border-radius: 20px 0 20px 0;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 35px;

    background-color: #0a0a23;
    color: #fff;
    padding: 10px 30px 10px 10px;
    margin: 1px solid #888;
    box-shadow: 1px 4px 10px 1px #fff;
    overflow: hidden;
}